:root{
  font-size: 62.5%;
  font-family: 'Inter', system-ui ,sans-serif;
  --brand-color-primary:#F7B733;
  --brand-gradient: linear-gradient(90deg,#FC4A1A 0%, #F7B733 100%);
  --brand-color-secondary:#FC4A1A;
  --background-color:#09090B;
  --surface-color:#18181B;
  --stroke-color:#27272A;
  --text-color-secondary:#A1A1AA;
  --text-color-primary: #F4F4F5;
  --title-lg-desktop: 6.4rem;
  --title-md-desktop: 4.8rem;
  --title-sm-desktop: 3.2rem;
  --text-desktop: 1.6rem;
  --span-desktop: 1.4rem;
  --title-lg-mobile: 4rem;
  --title-md-mobile: 2.4rem;
  --title-sm-mobile: 2rem;
  --text-mobile: 1.6rem;
  --span-mobile: 1.4rem;
  --fw-base: 400;
  --fw-md: 600;
  --fw-bold: 800;
  --max-width: 375px;
  --px-lg: 2.4rem;
  --py-base: 1.6rem;
  --py-lg: 2.4rem;
  --py-xl: 4.8rem;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html{
  font-weight: var(--fw-base);
  font-size: var(--text-mobile);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body{
  background-color: var(--background-color);
}

h1,
h2,
h3{
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1{
  font-size: var(--title-lg-mobile);
}

h2{
  font-size: var(--title-md-mobile);
}

h3{
  font-size: var(--title-sm-mobile);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

i{
  font-size: var(--title-md-mobile);
}

ul[role="list"]{
  list-style: none;
}

span{
  color: var(--text-color-secondary);
}

img{
  max-width: 100%;
  display: inline-block;
}


@media (width >= 80em) {
  :root{
    --max-width: 100em;
    --px-lg: 3.2rem;
    --py-base: 2.4rem;
    --py-lg: 4rem;
    --py-xl: 8rem;
  }
  h1{
    font-size: var(--title-lg-desktop);
  }

  h2{
    font-size: var(--title-md-desktop);
  }

  h3{
    font-size: var(--title-sm-desktop);
  }

  a{
    font-size: var(--text-desktop);
  }
}
